proprietary/vendor/firmware/stable_modem/modem.bin filter=lfs diff=lfs merge=lfs -text
proprietary/vendor/lib64/libedgetpu_tflite_compiler.so filter=lfs diff=lfs merge=lfs -text
proprietary/vendor/apex/com.google.pixel.camera.hal.apex filter=lfs diff=lfs merge=lfs -text
radio/modem.img filter=lfs diff=lfs merge=lfs -text
